ex1/
ex1/bin/Lexer.class
ex1/bin/TokenNames.class
ex1/bin/Main.class
ex1/input/Input.txt
ex1/output/OutputTokens.txt
ex1/src/Lexer.java
ex1/LEXER
ex2/
ex1/bin/Lexer.class
ex1/src/Lexer.java
ex1/src/Lexer.java
ex1/input/Input.txt
ex1/bin/Lexer.class
ex1/output/OutputTokens.txt
ex2/bin
ex2/src/Lexer.java
ex2/src/TokenNames.java
ex2/src/Parser.java
tester
output/
bin
ex3/bin/AST/AST_STMT_ID.class
