ex1/
ex1/bin/Lexer.class
ex1/bin/TokenNames.class
ex1/bin/Main.class
ex1/input/Input.txt
ex1/output/OutputTokens.txt
ex1/src/Lexer.java
ex1/LEXER
ex1/bin/Lexer.class
ex1/src/Lexer.java
ex1/src/Lexer.java
ex1/input/Input.txt
ex1/bin/Lexer.class
ex1/output/OutputTokens.txt
